@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.box {
  background-image: url("/src/images/mole.png");
  object-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: 10;
}

.active {
  opacity: 1;
  cursor: pointer;
}
.hide {
  display: none;
}

.btn {
  background-color: #fcbc5c;
  margin-bottom: 1rem;
  border: 1px solid white;
  width: 200px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: medium;
  font-family: "Roboto", sans-serif;
  padding: 1rem;
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  border-radius: 100px 100px;
}

.btn:hover,
.log-out:hover {
  background: #4e9a27;
  color: #fff;
}

.layout {
  background-image: url("./images/country.png");
  object-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}
h1 {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-family: "Titan One", cursive;
  margin-bottom: 20px;
  color: #fff;
}

.board__container {
  width: 60%;
  height: 30vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
