@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");

.box {
  background-image: url("/src/images/mole.png");
  object-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  opacity: 0;
}

.active {
  opacity: 1;
  cursor: pointer;
}
.hide {
  visibility: hidden;
}

.btn {
  background-color: #fcbc5c;
  margin-bottom: 1rem;
  border: 1px solid white;
  width: 15%;
  text-align: center;
  padding: 1rem;
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  border-radius: 100px 100px;
}

.btn:hover,
.log-out:hover {
  background: #4e9a27;
  color: #fff;
}

.layout {
  background-image: url("./images/country.png");
  object-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}
h1 {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-family: "Titan One", cursive;
  margin-bottom: 20px;
  color: #fff;
}
